<template>
  <section
    id="hashtag"
    class="py-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <hashtags-list />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import HashtagsList from '../../components/HashtagsList/HashtagsList.vue';

export default {
  name: 'Hashtags',
  components: {
    HashtagsList,
  },
};
</script>
