<template>
  <section
    id="posts"
    class="py-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Posts</h1>
          <posts-list />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import PostsList from '../../components/PostsList/PostsList.vue';

export default {
  name: 'Posts',
  components: {
    PostsList,
  },
};
</script>

<style lang="scss" scoped>
@import "../../scss/variables";

.posts-list {
  &__item {
    padding: 10px;
    border-bottom: 1px solid $color-white;
  }
}
</style>
