<template>
  <div>
    <p class="h3">
      Hashtags
    </p>
    <ul
      id="hashtagsList"
      class="hashtags-list list-unstyled">
      <li
        v-for="tag in filteredHashtags"
        :key="tag"
        class="hashtags-list__item">
        <router-link
          class="hashtags-list__item__btn w-100 d-block"
          :to="'/posts/' + tag">
          {{ tag }}
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import MixinGlobal from '../../mixins/MixinGlobal';

export default {
  name: 'HashtagsList',
  mixins: [MixinGlobal],
  computed: {
    ...mapState(['tags']),
    filteredHashtags() {
      const hashtags = this.deepClone(this.tags);
      return hashtags.reverse();
    },
  },
};
</script>

<style lang="scss" scoped>
@import "src/scss/variables";

.hashtags-list {
  &__item {
    &__btn {
      color: $color-white;
      padding: 10px;
      border: 0;
      border-bottom: 1px solid $color-white;
    }

    &:last-child {
      .hashtags-list__item__btn {
        border-bottom: 0;
      }
    }
  }
}
</style>
