<template>
  <form
    id="postMaker"
    class="post-maker"
    @submit.prevent="preventSubmitForm">
    <div class="row">
      <div class="col">
        <div class="position-relative">
          <textarea
            id="postInput"
            v-model="postText"
            class="post-maker__input-post w-100"
            placeholder="¿Qué está pensando?"
            @input="cleanBlankSpaces" />
          <div
            class="post-maker__input-show position-absolute w-100"
            v-html="styledPostText" />
          <recommendations
            :post-text="postText"
            @setHashtag="setHashtag" />
        </div>
      </div>
      <div class="col-4 col-lg-3">
        <button
          class="w-100 post-maker__submit"
          :disabled="!postText"
          @click="saveNewPost()">
          Enviar
        </button>
      </div>
    </div>
  </form>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import Recommendations from '../Recommendations/Recommendations.vue';
import MixinGlobal from '../../mixins/MixinGlobal';

export default {
  name: 'PostMaker',
  components: {
    Recommendations,
  },
  mixins: [MixinGlobal],
  data: () => ({
    postText: '',
  }),
  computed: {
    ...mapState(['tags']),
    styledPostText() {
      const words = this.splitWords(this.postText);
      let htmlPostText = '';
      words.map((word) => {
        htmlPostText += (this.checkHashtag(word))
          ? `<span class="post-maker__input-show__word post-maker__input-show__word--hashtag">${word}</span> `
          : `<span class="post-maker__input-show__word post-maker__input-show__word--default">${word}</span> `;
        return word;
      });

      return `<p class="m-0">${htmlPostText}</p>`;
    },
  },
  methods: {
    ...mapMutations({
      addPost: 'ADD_POST',
      addHashtags: 'ADD_HASHTAGS',
    }),
    cleanBlankSpaces() {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.postText = this.postText.replace(/\s\s+/g, ' ');
    },
    setHashtag(hashtag) {
      const lastBlankSpaceIndex = this.postText.lastIndexOf(' ');
      const sentence = this.postText.substring(0, lastBlankSpaceIndex);
      this.postText = `${sentence} #${hashtag} `;
    },
    preventSubmitForm(e) {
      e.preventDefault();
    },
    saveNewPost() {
      const hashtags = this.getPostHashtags();
      this.addPost({
        text: this.postText,
        hashtags,
      });
      this.addHashtags(hashtags.filter((hashtag) => !this.tags.includes(hashtag)));
      this.postText = '';
    },
    getPostHashtags() {
      const words = this.splitWords(this.postText);
      const hashtags = [];
      words.map((word) => {
        if (this.checkHashtag(word)) {
          hashtags.push(this.cleanHashtag(word));
        }
        return word;
      });
      return hashtags;
    },
  },
};
</script>

<style lang="scss">
@import "../../scss/variables";

$input-height: 100px;

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.post-maker {
  &__input-post {
    resize: none;
    color: $color-white;
  }
  &__input-show {
    top: 0;
    left: 0;
    pointer-events: none;
    color: $color-black;

    &__word {
      &--hashtag {
        color: $color-primary;
      }
    }
  }
  &__input-post,
  &__input-show {
    height: $input-height;
    padding: 10px;
    border: 1px solid $color-primary;
    border-radius: $app-border-radius;
  }
  &__submit {
    height: $input-height;
    color: $color-white;
    background-color: $color-secondary;
    border: 0;
    border-radius: $app-border-radius;
    &:hover {
      opacity: .9;
    }
    &:disabled {
      background-color: $color-grey;
    }
  }
  &:focus-within {
    .post-maker__input-show__word {
      &:last-child {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          right: -1px;
          top: 0;
          width: 1px;
          height: 100%;
          background-color: $color-black;
          animation: blinker 1s linear infinite;
        }
      }
    }
  }
}
</style>
