<template>
  <header
    id="component-header"
    class="component-header d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col d-flex">
          <router-link
            id="homeLink"
            to="/">
            Kind of twitter
          </router-link>

          <nav
            id="nav"
            class="ml-auto">
            <router-link to="/">
              Home
            </router-link> |
            <router-link to="/hashtags">
              Hashtags
            </router-link>
          </nav>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'ComponentHeader',
};
</script>

<style lang="scss" scoped>
@import "../../scss/variables";

.component-header {
  background-color: $color-primary;
  height: 60px;

  a {
    color: $color-white;
  }
}
</style>
