<template>
  <div id="postsList">
    <ul
      v-if="filteredPosts.length > 0"
      class="posts-list list-unstyled">
      <li
        v-for="(post, postIndex) in filteredPosts"
        :key="post.text + '-' + postIndex"
        class="posts-list__item">
        {{ post.text }}
      </li>
    </ul>
    <p v-else>
      No se encontraron resultados
    </p>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import MixinGlobal from '../../mixins/MixinGlobal';

export default {
  name: 'PostsList',
  mixins: [MixinGlobal],
  computed: {
    ...mapState(['posts']),
    filteredPosts() {
      const posts = this.deepClone(this.posts);
      if (!this.$route.params.hashtag) return posts.reverse();
      return posts.filter((post) => post.hashtags.includes(this.$route.params.hashtag)).reverse();
    },
  },
};
</script>

<style lang="scss" scoped>
@import "src/scss/variables";

.posts-list {
  &__item {
    padding: 10px;
    border-bottom: 1px solid $color-white;

    &:last-child {
      border: 0;
    }
  }
}
</style>
