<template>
  <section
    id="home"
    class="py-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <post-maker />
          <posts-list class="mt-4" />
        </div>
        <div class="d-none d-lg-block col-4">
          <hashtags-list />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import PostMaker from '../../components/PostMaker/PostMaker.vue';
import HashtagsList from '../../components/HashtagsList/HashtagsList.vue';
import PostsList from '../../components/PostsList/PostsList.vue';

export default {
  name: 'Home',
  components: {
    PostMaker,
    HashtagsList,
    PostsList,
  },
};
</script>
