<template>
  <div id="app">
    <component-header />
    <router-view />
  </div>
</template>

<script>
import ComponentHeader from './components/ComponentHeader/ComponentHeader.vue';

export default {
  name: 'App',
  components: {
    ComponentHeader,
  },
};
</script>

<style lang="scss">
@import "src/scss/custom";
</style>
