//Color Variables
$color-black: #2A2D43;
$color-white: #fff;
$color-grey: #c4c4c4;
$color-primary: #6CAE75;
$color-secondary: #EF767A;
$color-tertiary: #0C7489;

//Border radius
$app-border-radius: 4px;
