<template>
  <ul
    v-if="tagsOptions()"
    class="recommendations list-unstyled position-absolute w-100">
    <li
      v-for="tag in tagsOptions()"
      :key="tag"
      class="recommendations__tag">
      <button
        class="p-0 border-0 bg-transparent w-100 text-left"
        @click="setHashtag(tag)">
        {{ tag }}
      </button>
    </li>
  </ul>
</template>

<script>
import { mapState } from 'vuex';
import MixinGlobal from '../../mixins/MixinGlobal';

export default {
  name: 'Recommendations',
  mixins: [MixinGlobal],
  props: {
    postText: {
      type: String,
      required: true,
    },
  },
  data: () => ({
  }),
  computed: {
    ...mapState(['tags']),
  },
  methods: {
    tagsOptions() {
      if (this.postText === '') return null;
      const lastWord = this.getLastWord(this.postText);
      if (this.checkHashtag(lastWord)) {
        return this.tags.filter((tag) => {
          const formattedTag = tag.toLowerCase();
          const formattedLastWord = this.cleanHashtag(lastWord).toLowerCase();
          return formattedTag.includes(formattedLastWord);
        });
      }
      return null;
    },
    setHashtag(hashtag) {
      this.$emit('setHashtag', hashtag);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../scss/variables";

.recommendations {
  background-color: $color-white;
  color: $color-black;
  height: 200px;
  overflow-y: scroll;
  border-radius: $app-border-radius;

  &__tag {
    border-bottom: 1px solid $color-black;
    padding: 10px;

    &:last-child {
      border-bottom: none;
    }
  }
}
</style>
